.hero {
  display: grid;
  grid-template-columns: auto 817px;
  align-items: center;
}

.hero__sale {
  position: relative;
  margin-left: 110px;
  margin-right: -110px;
}

.hero__promo {
  margin: 0 0 35px;
  font-size: 24px;
  text-transform: lowercase;
}

.hero__percent {
  position: relative;
  display: block;
  font-size: 136px;
  line-height: 1;
  font-family: 'DM Serif Display', Georgia, serif;
  color: var(--accent);
}

.hero__percent::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -62px;
  width: 48px;
  height: 4px;
  margin-top: 2px;
  background-color: currentColor;
}

.hero__promo-text {
  display: block;
  font-size: 44px;
  line-height: 1.2;
  font-family: 'DM Serif Display', Georgia, serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero__img {
  margin: 0;
}

.hero__img img {
  display: block;
}

@media (max-width: 1150px) {
  .hero {
    grid-template-columns: auto auto;
  }

  .hero__sale {
    margin-left: 80px;
    margin-right: -80px;
  }

  .hero__promo {
    margin-bottom: 25px;
    font-size: 20px;
  }

  .hero__percent {
    font-size: 100px;
  }

  .hero__promo-text {
    font-size: 40px;
  }
}

@media (max-width: 770px) {
  .hero__sale {
    margin-left: 20px;
  }

  .hero__promo {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .hero__percent {
    font-size: 90px;
  }

  .hero__percent::before {
    left: -20px;
    width: 20px;
    height: 4px;
    margin-top: 2px;
    background-color: currentColor;
  }

  .hero__promo-text {
    font-size: 35px;
  }
}
