.main {
  margin-bottom: 112px;
}

.main__hero {
  margin-bottom: 110px;
}

.main__goods {
  margin-bottom: 120px;
}

.main__brands {
  margin-bottom: 110px;
}

.main__news {
  margin-bottom: 100px;
}
