.main {
  margin-bottom: 112px;
}

.main__hero {
  margin-bottom: 110px;
}

.main__goods {
  margin-bottom: 120px;
}

.main__brands {
  margin-bottom: 110px;
}

.main__news {
  margin-bottom: 100px;
}

@media (max-width: 1150px) {
  .main__brands {
    margin-bottom: 90px;
  }
}

@media (max-width: 770px) {
  .main,
  .main__hero,
  .main__goods,
  .main__brands,
  .main__news {
    margin-bottom: 70px;
  }
}

@media (max-width: 340px) {
  .main,
  .main__hero,
  .main__goods,
  .main__brands,
  .main__news {
    margin-bottom: 40px;
  }
}
