.button {
  display: inline-block;
  vertical-align: middle;
  min-width: 120px;
  margin: 0;
  padding: 9px 18px;
  font-size: 16px;
  color: var(--dark-accent-secondary);
  text-decoration: none;
  text-align: center;
  border: 0;
  border-radius: 2px;
  background-color: var(--accent);
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color, color var(--transition-time);
}

.button:hover {
  color: var(--accent);
  background-color: var(--dark-accent-secondary);
}
