.main-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: var(--light-gray);
  list-style: none;
}

.main-menu li:not(:last-child) {
  margin-right: 55px;
}

.main-menu a {
  position: relative;
  display: block;
  text-decoration: none;
  transition: color var(--transition-time);
}

.main-menu a:not(.current):hover {
  color: var(--basic-black);
}

.main-menu .current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -9px;
  width: 28px;
  height: 1px;
  background-color: var(--accent-secondary);
}
