:root {
  --basic-white: #FFFFFF;
  --basic-black: #1C1C2A;
  --neutral-gray: #666666;
  --light-gray: #9A9A9A;
  --lightest-gray: #F4F5F0;
  --light-neutral-gray: #E7E3DE;
  --accent-secondary: #B59D8D;
  --dark-accent-secondary: #654E3D;
  --accent: #E0C68B;
  --transition-time: 0.2s;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  /*min-width: 1210px;*/
  min-width: 320px;
  font-size: 14px;
  line-height: 1.7;
  font-family: 'PT Serif', Georgia, serif;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

a,
button {
  font: inherit;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}
